<a href="/personalPage" class="btn btn-success back-per">Back</a>
<div id="genRecipe">
    <p class="result">{{ errorMess }}</p>
    <h1 class="result resTitle">{{ dishName }}</h2>
    <p class="result ingreStr"> {{ ingreLst }}</p>
    <p class="result ingreStr">{{ cookSkill }}</p>
</div>






